@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}

html,
button,
input {
    font-family: 'Lexend';
    font-weight: 300;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}
